h1 { 
    font-size: 60px;
}
 
h2 {
    color: #ff0000;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
}

li{
    list-style-type:none;
}

th,td{
    table-layout: fixed;
    text-align: center;
    border: 3px solid #2600ff;
    border-spacing: 0px;
    border-collapse: collapse;
}

table{
    width: 200px;
    height: 200px;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}
