header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(63, 63, 63);
  align-items: center;
}
 
.title {
  margin-right: auto;
  padding: 30px;
  color: #ffffff;
}

.menu-group{
  padding: 30px;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
}

.aLink{
  color: #ffffff;
  text-decoration:none
}

main{
  padding: 30px;
}

#flexBox{
  display:flex;
  width: 100%;
  height:auto;
  gap: 20px;
}
.boxItem{
  border:5px solid #ddd;
}    

img{
  height: 300px;
  width: 400px;
}

.text{
  margin-top: 0;
  text-align: center;
}

p{
  margin-bottom: 0;
}

a{
  text-align: right;
}

.rightLink{
  text-align: right;
  color: rgba(0, 0, 0, 0);
  text-decoration:none
}