.container {
  font-family: arial;
  margin: 0 auto;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outPut {
  background-color: rgb(124, 124, 124);
  width: 500px;
  height: 500px;
}